/* text colors */
:root {
  --black-headline: #333;
  --black-text: #575757;
  --black-extra-light: #6d6d6d;
  --white-headline: #FCFFF5;
  --white-text: #f0f0f0;

  /* hover colors on text colors */
  --black-hover: #6d6d6d;
  --white-hover: #d0d0d0;

  --extra-white: #ecf2e4;
}

/* color palette */
:root {
  --primary-color: #D1DBBD;
  --secondary-color: #91AA9D;
  --tertiary-color: #f8ffef;
  /* --tertiary-color: #3E606F; */


  /* button colors */
  --white-btn: #f8ffef;
  --white-btn-hover: #dadada;
  --black-btn: #343434;
  --black-btn-hover: #474747;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black-extra-light);
}

