@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styling text */
h1 {
    font-size: 30px;
}

h1, h2, h3, h4, h5 {
    color: var(--black-headline);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}   

p {
    font-size: 16px;
    color: var(--black-text);
    font-family: Arial, Helvetica, sans-serif;
}


/* button styling */
/* white button */
.white-btn {
    background-color: var(--white-btn);
    padding: 10px 30px;
    color: var(--black-headline);
    border-radius: 20px;
    font-size: 16px;
}

.white-btn:hover {
    background-color: var(--white-btn-hover);
    transition: 0.3s;
}

/* black button */
.black-btn {
    background-color: var(--black-btn);
    padding: 10px 30px;
    color: var(--white-headline);
    border-radius: 20px;
    font-size: 16px;
}

.black-btn:hover {
    background-color: var(--black-btn-hover);
    transition: 0.3s;
}


/* 10% percent */
.ten-percent {
    padding-right: 10%;
    padding-left: 10%;
}


/* classes for colors */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}


/* classes for background colors */
.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.tertiary-bg {
    background-color: var(--tertiary-color);
}

/* classes for text colors  */
.black-headline {
    color: var(--black-headline);
}

.black-text {
    color: var(--black-text);
}

.white-headline {
    color: var(--white-headline);
}

.white-text {
    color: var(--white-text);
}


/* rounded corners */
.round-corner {
    border-radius: 20px;
}